# ide files
.idea/
.vscode/

# python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
env/
*.egg-info/
.venv/
.env
.envrc

# database files
*.sqlite3
*.db
*.db-journal
*.db~*

# project files
weekly_journal/*
accotracServer/*

# archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db